.container {
    text-align: center;
    margin-top: 50px;
    margin: 20px auto;
    padding: 20px 20px 20px;
    box-shadow: 16px 8px 16px ;
  }
  
  .container > * {
    margin-bottom: 20px;
  }

  .box{
    padding: 20px 20px 20px;
    margin: 20px auto;

  }