.form {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input {
    margin-bottom: 5%;
  }
